@model IEnumerable<WebApplication3.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="content">
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StandardCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ListPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Size)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Weight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductModelID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SellStartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SellEndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiscontinuedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThumbNailPhoto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThumbnailPhotoFileName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rowguid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductCategory.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Color)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StandardCost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ListPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Size)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Weight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductModelID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SellStartDate)
        </td>
        <td>
            @{
                var SEDdisplay = "N/A";
                if (item.SellEndDate != null)
                {
                    SEDdisplay = item.SellEndDate.ToString();
                }
            }
            @Html.DisplayFor(modelItem => SEDdisplay)
        </td>
        <td>
            @{ 
                var DDdisplay = "N/A";
                if(item.DiscontinuedDate != null)
                {
                    DDdisplay = item.DiscontinuedDate.ToString();
                }
            }
            @Html.DisplayFor(modelItem => DDdisplay)
        </td>
        <td>
            @{
                if (item.ThumbNailPhoto != null)
                {
                    @Html.Raw("<img src='" + string.Format("data:image/jpeg;base64,{0}", Convert.ToBase64String(item.ThumbNailPhoto)) + "'/>")
                }else
                {
                    @Html.Raw("N/A")
                }
                }
        </td>
        <td>
            @{
                var TNdisplay = "N/A";
                if (item.ThumbnailPhotoFileName != null)
                {
                    TNdisplay = item.ThumbnailPhotoFileName;
                }
            }
            @Html.DisplayFor(modelItem => TNdisplay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rowguid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifiedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductCategory.Name)
        </td>
    </tr>
}

</table>
</div>
